body {
font-family: 'Roboto Condensed', sans-serif;
background-color:#249F49;
font-size: 150%;
}
#logo {
font-family: 'Russo One', sans-serif;
font-size: 150%;
}
footer {
background-color: #6C6C6C;
position: absolute;
bottom: 0px;
padding: auto;
margin: auto;
}
